/* Mobile-friendly adjustments using media queries */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .super-mario-text {
        font-size: 1.8rem;
    }

    .menu-toggle {
        display: none;
    }

    .menu-icon {
        display: block;
        text-align: right;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        text-align: center;
        background-color: #de572c;
        padding: 10px 0;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li {
        margin: 10px 0;
    }
    
    section {
        padding: 10px;
    }
    
    iframe {
        height: 400px;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }
}
